<div class="centerSlides swiper">
    <div class="scrollingSlides swiper-wrapper">
        <div class="slideItem swiper-slide">
            <div class="slideTitle">
                <span class="leftTitle">Fantastic!</span>
                <span class="rightTitle">lila_lane</span>
            </div>
            <div class="slideStars">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
            </div>
            <div class="slideText">
                <img class="img100" src="../img/100.png" alt="100">
                <span>I can say I am &nbsp;&nbsp;&nbsp; happy with this app.<br>15 pounds off in 30 days!</span>
            </div>
        </div>
        <div class="slideItem swiper-slide">
            <div class="slideTitle">
                <span class="leftTitle">Fantastic!</span>
                <span class="rightTitle">lila_lane</span>
            </div>
            <div class="slideStars">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
            </div>
            <div class="slideText">
                <img class="img100" src="../img/100.png" alt="100">
                <span>I can say I am &nbsp;&nbsp;&nbsp; happy with this app.<br>15 pounds off in 30 days!</span>
            </div>
        </div>
        <div class="slideItem swiper-slide">
            <div class="slideTitle">
                <span class="leftTitle">Fantastic!</span>
                <span class="rightTitle">lila_lane</span>
            </div>
            <div class="slideStars">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
            </div>
            <div class="slideText">
                <img class="img100" src="../img/100.png" alt="100">
                <span>I can say I am &nbsp;&nbsp;&nbsp; happy with this app.<br>15 pounds off in 30 days!</span>
            </div>
        </div>
        <div class="slideItem swiper-slide">
            <div class="slideTitle">
                <span class="leftTitle">Fantastic!</span>
                <span class="rightTitle">lila_lane</span>
            </div>
            <div class="slideStars">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
            </div>
            <div class="slideText">
                <img class="img100" src="../img/100.png" alt="100">
                <span>I can say I am &nbsp;&nbsp;&nbsp; happy with this app.<br>15 pounds off in 30 days!</span>
            </div>
        </div>
        <div class="slideItem swiper-slide">
            <div class="slideTitle">
                <span class="leftTitle">Fantastic!</span>
                <span class="rightTitle">lila_lane</span>
            </div>
            <div class="slideStars">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
                <img src="../img/star.svg" alt="star">
            </div>
            <div class="slideText">
                <img class="img100" src="../img/100.png" alt="100">
                <span>I can say I am &nbsp;&nbsp;&nbsp; happy with this app.<br>15 pounds off in 30 days!</span>
            </div>
        </div>
    </div>
</div>