<section class="bannerBottom " id="dark_style">
    <div class="positionSlider">
        @@include('./_bannerSlider.html')
    </div>
    <div class="cardsBlock">
        <div class="cardItem card1" onclick="changeCard1()">
            <div class="itemTitle">1<br>month</div>
            <div class="itemPrice">$14.99 /<br>month</div>
            <div class="itemPrice">month: $14.99</div>
        </div>
        <div class="cardItem card2" onclick="changeCard2()">
            <div class="itemHeader">SAVE 80%</div>
            <div class="itemTitle">12<br>months</div>
            <div class="itemPrice">$39.99 /<br>per year</div>
            <div class="itemPrice">month: $3.33</div>
        </div>
        <div class="cardItem card3" onclick="changeCard3()">
            <div class="itemHeader">SAVE 90%</div>
            <div class="itemTitle">3<br>months</div>
            <div class="itemPrice">$29.99 /<br>3 month</div>
            <div class="itemPrice">month: $9.99</div>
            <div class="itemFooter">SALE</div>
        </div>
    </div>
    <button class="bigButton" type="button">
        <a class="btnLink" onclick="linkTo()">Continue</a>
    </button>
    <p>Recurring billing. Cancel anytime.</p>
    <div class="blackLine"></div>
</section>