<section class="bannerTop">
    <div id="closed" class="closed">
        <div class="line"></div>
        <div class="line revers"></div>
    </div>
    <h1>Try Verv for free</h1>
    <div class="imgWoman"></div>
    <div class="categories categoriesShadow">
        <img class="free freePointer_anim" src="../img/free.svg" alt="free">
        <img class="pro proPointer_anim" src="../img/pro.svg" alt="pro">
        @@include('./_liveLines.html')
        <img class="redCircle circle_anim" src="../img/redCircle.svg" alt="redCircle">
        <img class="greenCircle circle_anim" src="../img/greenCircle.svg" alt="greenCircle">
        <div class="border_gradient"></div>
        <div class="category">Extr. Obese</div>
        <div class="border_gradient"></div>
        <div class="category">Obese</div>
        <div class="border_gradient"></div>
        <div class="category">Overweight</div>
        <div class="border_gradient"></div>
        <div class="category">Healthy</div>
        <div class="border_gradient"></div>
    </div>
    <div id="changeTheme" class="changeTheme"></div>
</section>