<div class="boxLine">

    <svg class="topLine1" width="414" height="179" viewBox="0 0 414 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2.21848C0 2.21848 106.214 1.09983 136.53 16.7609C166.845 32.4219 168.316 51.9795
        210.694 66.7926C253.071 81.6058 269.006 122.778 307.983 144.033C333.397 157.891 340.742 151.814
        367.013 164.414C381.033 171.139 397.526 176.727 419 176.727"
        stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <svg class="topLine2" width="375" height="71" viewBox="0 0 375 71" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.951181" d="M-13 1.00649C-13 1.00649 54.7328 -0.948562 97.7457 8.63546C140.758
        18.2195 157.055 29.7054 207.789 39.2894C265.199 47.8085 331.915 69.5 378 69.5"
        stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <svg class="topLine3" width="320" height="46" viewBox="0 0 320 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.951181" d="M0 2.20214C0 2.20214 56.2997 1.00908 92.052 6.85769C127.804 12.7063
        141.35 19.7155 183.52 25.5641C231.239 30.7629 286.694 44 325 44"
        stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <svg class="bottomLine1" width="414" height="76" viewBox="0 0 414 76" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.951181" d="M0 1.19849C0 1.19849 71.7171 -0.870109 117.26 9.27057C162.803 19.4112
        180.059 31.5642 233.777 41.7049C294.563 50.7188 365.204 73.6702 414 73.6702"
        stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <svg class="bottomLine2" width="375" height="167" viewBox="0 0 375 167" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-13 1.97048C-13 1.97048 87.384 0.913243 116.035 15.7146C144.686 30.516 146.077 49 186.128
        63C226.179 77 241.24 115.912 278.077 136C302.096 149.098 309.038 143.355 333.867 155.263C347.117
        161.618 362.705 166.9 383 166.9"
        stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <svg class="bottomLine3" width="320" height="104" viewBox="0 0 320 104" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2.04272C0 2.04272 83.3999 1.40196 107.203 10.3725C131.007 19.343 132.162 30.5455
        165.437 39.0303C198.712 47.5152 211.224 71.0984 241.829 83.2727C261.784 91.2108 267.552 87.73
        288.18 94.9474C299.188 98.799 312.138 102 329 102"
        stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

</div>