.circle_anim {
  animation-name: circle;
  animation-direction: normal;
  animation-delay: 1.9s;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @media (max-width: 376px) {
    animation-delay: 1.7s;
    @media (max-width: 321px) {
      animation-delay: 1.4s;
    }
  }
  @keyframes circle {
    0% {
      transform: scale(1);
    }

    50% {
      opacity: 1;
      transform: scale(1.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.freePointer_anim {
  animation-name: pointer;
  animation-direction: normal;
  animation-delay: 1.9s;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @media (max-width: 376px) {
    animation-delay: 1.7s;
    @media (max-width: 321px) {
      animation-delay: 1.4s;
    }
  }
  @keyframes pointer {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.proPointer_anim {
  animation-name: pointer, proBox;
  animation-direction: normal, normal;
  animation-delay: 1.9s, 3s;
  animation-duration: 600ms, 3s;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
  @media (max-width: 376px) {
    animation-delay: 1.7s, 2.8s;
    @media (max-width: 321px) {
      animation-delay: 1.4s, 2.5s;
    }
  }
  @keyframes pointer {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes proBox {
    0%{
      transform: scale(1) ;
    }

    5% {
      transform: scale(0.8);
    }
    10% {
      transform: scale(1);
    }
    15% {
      transform: scale(0.8);
    }
    20% {
      transform: scale(1);
    }

    100% {
      transform: scale(1);
    }
  }
}

.categoriesShadow {
  animation-name: shadow_anim;
  animation-direction: normal;
  animation-delay: 3s;
  animation-duration: 8s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  @media (max-width: 376px) {
    animation-delay: 3.2s;
    @media (max-width: 321px) {
      animation-delay: 3.5s;
    }
  }
}

@keyframes shadow_anim {
  0% {
    background: linear-gradient(45deg,
            rgba(255, 251, 251, 0.3),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0))

  }
  1% {
    background: linear-gradient(45deg,
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0.3),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0))
  }
  2% {
    background: linear-gradient(45deg,
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0.3),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0))
  }
  3% {
    background: linear-gradient(45deg,
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0.3),
            rgba(255, 251, 251, 0))
  }
  4% {
    background: linear-gradient(45deg,
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0.3))
  }
  5% {
    background: linear-gradient(45deg,
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0))
  }

  100% {
    background: linear-gradient(45deg,
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0),
            rgba(255, 251, 251, 0))
  }
}