@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText.ttf');
}

$btn_bg: linear-gradient(225deg, #542285 0%, #222266 100%);
$card_bg: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);

.bannerBottom {
  position: relative;
  margin: 0 auto;
  padding: 122px 20px 0 20px;
  width: 415px;
  height: 456px;
  @media (max-width: 376px) {
    width: 375px;
    height: 393px;
    padding-top: 118px;
    @media (max-width: 321px) {
      width: 320px;
      height: 307px;
      padding-top: 82px;
    }
  }

  .bigButton {
    margin: 29px 0 20px;
    width: 374px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: $btn_bg;
    cursor: pointer;

    a {
      display: block;
      text-decoration: none;
      font-family: "SFProText", sans-serif;
      font-size: 22px;
      letter-spacing: 1px;
      color: #ffffff;
    }

    @media (max-width: 376px) {
      width: 335px;
      margin-top: 20px;
      @media (max-width: 321px) {
        width: 280px;
        margin: 13px 0 17px;
      }
    }
  }

  p {
    font-family: "SFProText", sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    opacity: 0.4;
    text-align: center;
  }

  .blackLine {
    margin: 26px auto 0;
    width: 134px;
    height: 5px;
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    @media (max-width: 376px) {
      margin-top: 25px;
      @media (max-width: 321px) {
        margin-top: 10px;
      }
    }
  }
}

.cardsBlock {
  display: flex;
  justify-content: space-between;
  font-family: 'SFProText', sans-serif;

  .cardItem {
    position: relative;
    width: 118px;
    height: 151px;
    background-color: #F3F2F9;
    text-align: center;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    @media (max-width: 376px) {
      width: 105px;
      height: 131px;
      @media (max-width: 321px) {
        width: 88px;
        height: 112px;
      }
    }

    &:first-child {
      border-radius: 5px;
    }

    &:nth-child(3) .itemHeader {
      background-color: #FCA759;
    }

    div {
      margin: 0 auto;
      width: 96px;
      @media (max-width: 376px) {
        width: 87px;
      }
    }

    .itemTitle {
      padding: 6px 0 4px 0;
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      @media (max-width: 376px) {
        padding: 2px 0 1px 0;
        @media (max-width: 321px) {
          padding: 1px 0 0 0;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    .itemPrice {
      padding-top: 6px;
      font-size: 13px;
      @media (max-width: 376px) {
        padding-top: 4px;
        @media (max-width: 321px) {
          padding-top: 3px;
          font-size: 11px;
        }
      }
    }

    .itemHeader {
      padding: 5px 0;
      position: absolute;
      top: -25px;
      width: 118px;
      height: 25px;
      background-color: #FCBF59;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.78px;
      border-radius: 5px 5px 0 0;
      @media (max-width: 376px) {
        width: 105px;
        @media (max-width: 321px) {
          width: 88px;
          height: 21px;
          font-size: 11px;
          top: -21px;
        }
      }
    }

    .itemFooter {
      padding: 3px 0;
      position: absolute;
      bottom: 0;
      width: 118px;
      height: 16px;
      background-color: #FCA759;
      font-size: 9px;
      font-weight: bold;
      letter-spacing: 0.54px;
      border-radius: 0 0 5px 5px;
      @media (max-width: 376px) {
        width: 105px;
        @media (max-width: 321px) {
          width: 88px;
          height: 15px;
          font-size: 7px;
        }
      }
    }
  }
}

.positionSlider {
  position: absolute;
  top: -72px;
  right: 0;
  @media (max-width: 321px) {
    top: -60px;
  }
}

.changeBgColor {
  background: $card_bg;

  .itemTitle, .itemPrice {
    color: #ffffff;
  }
}



