@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText.ttf');
}

$bg_top: linear-gradient(225deg, #894AC9 0%, #4D46B1 100%);
$bg_border: linear-gradient(90deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.76) 50%, rgba(255, 255, 255, 0.01));


.bannerTop {
  margin: 0 auto;
  position: relative;
  width: 415px;
  height: 440px;
  background: $bg_top;
  @media (max-width: 376px) {
    width: 375px;
    height: 419px;
    @media (max-width: 321px) {
      width: 320px;
      height: 261px;
    }
  }

  .closed {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.527344);
    top: 48px;
    left: 370px;
    cursor: pointer;
    transform: rotate(45deg);

    &:hover {
      transition: 0.6s;
      transform: rotate(225deg);
    }

    @media (max-width: 376px) {
      left: 330px;
      @media (max-width: 321px) {
        left: 278px;
        top: 29px;
      }
    }
  }

  .changeTheme {
    position: absolute;
    top: 48px;
    right: 370px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    border-radius: 50%;
    background-image: url("../img/onOf.jpg");
    background-size: contain;
    cursor: pointer;

    &:hover {
      transition: 0.8s;
      transform: rotate(360deg);
    }

    @media (max-width: 376px) {
      right: 330px;
      @media (max-width: 321px) {
        right: 278px;
        top: 29px;
      }
    }
  }

  .line {
    position: absolute;
    width: 23px;
    height: 2px;
    top: 15px;
    left: 4.5px;
    border-radius: 1px;
    background: $bg_top;

    &.revers {
      width: 2px;
      height: 23px;
      left: 15px;
      top: 4.5px;
    }
  }

  h1 {
    padding-top: 80px;
    text-align: center;
    font-size: 34px;
    line-height: 41px;
    font-family: SFProText, sans-serif;
    color: #ffffff;
    letter-spacing: 0.37px;
    @media (max-width: 321px) {
      font-size: 24px;
      padding-top: 47px;
    }
  }

  .imgWoman {
    position: absolute;
    z-index: 100;
    left: 188px;
    top: 115px;
    background-image: url("../img/woman.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 265px;
    @media (max-width: 376px) {
      width: 110px;
      height: 240px;
      left: 172px;
      top: 110px;
      @media (max-width: 321px) {
        width: 70px;
        height: 133px;
        left: 158px;
        top: 75px;
      }
    }
  }
}

.categories {
  position: relative;
  margin-top: 33px;
  font-family: SFProText, sans-serif;
  font-size: 12px;
  color: #ffffff;
  line-height: 14px;
  @media (max-width: 376px) {
    margin-top: 20px;
    @media (max-width: 321px) {
      margin-top: 5px;
    }
  }

  .category {
    padding: 16px 0 17px 33px;
    background: rgba(0, 0, 0, 0.05);
    @media (max-width: 376px) {
      padding: 15px 0 15px 20px;
      @media (max-width: 321px) {
        padding: 5px 0 5px 20px;
      }
    }
  }

  .border_gradient {
    margin: 0 auto;
    width: 414px;
    height: 1px;
    background: $bg_border;
    mix-blend-mode: overlay;
    @media (max-width: 376px) {
      width: 375px;
    }
  }

  .redCircle {
    position: absolute;
    z-index: 30;
    left: 368px;
    top: 59px;
    opacity: 0;
    @media (max-width: 376px) {
      left: 313px;
      top: 52px;
      @media (max-width: 321px) {
        width: 20px;
        left: 260px;
        top: 30px;
      }
    }
  }

  .greenCircle {
    position: absolute;
    z-index: 30;
    left: 368px;
    top: 158px;
    opacity: 0;
    @media (max-width: 376px) {
      left: 313px;
      top: 140px;
      @media (max-width: 321px) {
        width: 20px;
        left: 260px;
        top: 82px;
      }
    }
  }

  .free {
    position: absolute;
    z-index: 30;
    left: 356px;
    top: 30px;
    opacity: 0;
    @media (max-width: 376px) {
      left: 301px;
      top: 24px;
      @media (max-width: 321px) {
        left: 245px;
        top: 1px;
      }
    }
  }

  .pro {
    position: absolute;
    z-index: 30;
    left: 356px;
    top: 130px;
    opacity: 0;
    @media (max-width: 376px) {
      left: 301px;
      top: 112px;
      @media (max-width: 321px) {
        left: 245px;
        top: 54px;
      }
    }
  }
}

