@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SFProText.ttf');
}

.centerSlides {
  width: 415px;

  .scrollingSlides {
    margin: 0 20px;
    @media(max-width: 376px) {
      margin: 0 60px;
      @media(max-width: 321px) {
        margin: 0 115px;
      }
    }

  }

  .slideItem {
    padding: 20px;
    border-radius: 10px;
    background-color: #F3F2F9;
    font-family: 'SFProText', sans-serif;
    @media (max-width: 321px) {
      padding: 15px;
    }

    .slideTitle {
      display: flex;
      justify-content: space-between;

      .leftTitle {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #1A1A1A;
      }

      .rightTitle {
        color: #1A1A1A;
        opacity: 0.5;
      }
    }

    .slideStars {
      margin: 10px 0 16px;
      @media(max-width: 321px) {
        margin: 7px 0 9px;
        img {
          width: 17px;
          height: 17px;
        }
      }
    }

    .slideText {
      position: relative;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 1px;
      @media(max-width: 321px) {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.6px;
      }
      .img100 {
        width: 15px;
        height: 15px;
        position: absolute;
        left: 113px;
        @media (max-width: 321px) {
          width: 13px;
          height: 13px;
          left: 93px;
        }
      }
    }
  }
}
