.dark_style {
  transition: 0.3s;
  background-color: #000000;

  .blackLine {
    transition: 0.3s;
    background-color: #ffffff;
  }

  p {
    transition: 0.3s;
    color: #ffffff;
  }

  .cardItem {
    background-color: #373640;
    transition: 0.3s;
  }

  .slideItem {
    transition: 0.3s;
    background: linear-gradient(225deg, #262526 0%, #19181A 100%);
  }

  .itemTitle, .itemPrice {
    transition: 0.3s;
    color: #ffffff;
  }

  .leftTitle {
    transition: 0.3s;
    color: #ffffff !important;
  }

  .rightTitle {
    transition: 0.3s;
    color: #ffffff !important;
  }

  .slideText {
    transition: 0.3s;
    color: #ffffff;
  }

}



