.boxLine {
  svg {
    position: absolute;
    z-index: 20;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  .topLine2, .bottomLine2,
  .topLine3, .bottomLine3 {
    display: none;
  }

  @media (max-width: 376px) {
    .topLine1, .bottomLine1 {
      display: none;
    }
    .topLine2, .bottomLine2 {
      display: block;
    }
  }
  @media (max-width: 321px) {
    .topLine2, .bottomLine2 {
      display: none;
    }
    .topLine3, .bottomLine3 {
      display: block;
    }
  }
}

